spring:
  application:
    name: "gatewayserver"
  jackson:
    mapper:
      sort-properties-alphabetically: false
  config:
    import: "optional:configserver:http://localhost:8071"
    # optional => avoid failure if config server is down
    # configserver => indicates that the source is a config server, not the actual name of config server
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
              lowerCaseServiceId: true
          httpclient:
            connect-timeout: 1000
            response-timeout: 10s
  data:
    redis:
      connect-timeout: 2s
      host: localhost
      port: 6379
      timeout: 1s
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:7080/realms/master/protocol/openid-connect/certs"
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
#      enabled: true
      access: unrestricted
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

info:
  app:
    name: "gatewayserver"
    description: "Gateway Server for JK Bank"
    version: "1.0.0"

logging:
  level:
    com:
      jkbank:
        gatewayserver: DEBUG
  pattern:
    level: "%5p[${spring.application.name:},%X{trace_id},%X{span_id}]"

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
#  timelimiter:
#    configs:
#      default:
#        timeoutDuration: 4s
