# Minio
apiVersion: v1
kind: Service
metadata: { name: minio }
spec: { ports: [{ port: 9000 }], selector: { app: minio }, type: ClusterIP }
---
apiVersion: apps/v1
kind: StatefulSet
metadata: { name: minio }
spec:
  serviceName: "minio"
  replicas: 1
  selector: { matchLabels: { app: minio } }
  template:
    metadata: { labels: { app: minio } }
    spec:
      containers:
        - name: minio
          image: minio/minio:RELEASE.2025-09-07T16-13-09Z
          command: ["sh", "-euc", "mkdir -p /data/loki-data && mkdir -p /data/loki-ruler && minio server /data"]
          env:
            - name: MINIO_ROOT_USER
              valueFrom: { secretKeyRef: { name: jkbank-secrets, key: MINIO_ACCESS_KEY } }
            - name: MINIO_ROOT_PASSWORD
              valueFrom: { secretKeyRef: { name: jkbank-secrets, key: MINIO_SECRET_KEY } }
          ports: [{ containerPort: 9000 }]
          volumeMounts: [{ name: minio-storage, mountPath: /data }]
  volumeClaimTemplates:
    - metadata: { name: minio-storage }
      spec: { accessModes: ["ReadWriteOnce"], resources: { requests: { storage: 5Gi } } }
---
# Redis
apiVersion: v1
kind: Service
metadata: { name: redis }
spec: { ports: [{ port: 6379 }], selector: { app: redis }, type: ClusterIP }
---
apiVersion: apps/v1
kind: StatefulSet
metadata: { name: redis }
spec:
  serviceName: "redis"
  replicas: 1
  selector: { matchLabels: { app: redis } }
  template:
    metadata: { labels: { app: redis } }
    spec:
      containers:
        - name: redis
          image: redis
          ports: [{ containerPort: 6379 }]
          volumeMounts: [{ name: redis-data, mountPath: /data }]
  volumeClaimTemplates:
    - metadata: { name: redis-data }
      spec: { accessModes: ["ReadWriteOnce"], resources: { requests: { storage: 1Gi } } }