server:
  port: 9010
spring:
  application:
    name: "message"
  cloud:
    function:
      definition: email|sms
      #  The spring.cloud.function.definition property specifies which functions are active in your application. The pipe (|) operator chains functions together, where the output of the first function becomes the input of the second.
      #In our case:
      #email function executes first
      #Its output is passed to the sms function
      #The final result comes from the sms function
