server:
  port: 9010
spring:
  application:
    name: "message"
  cloud:
    function:
      definition: email|sms
      #  The spring.cloud.function.definition property specifies which functions are active in your application. The pipe (|) operator chains functions together, where the output of the first function becomes the input of the second.
      #In our case:
      #email function executes first
      #Its output is passed to the sms function
      #The final result comes from the sms function
    stream:
      bindings:
        emailsms-in-0: # input binding for the combined function email|sms
          destination: send-communication # queue/topic name to listen to for incoming messages
          group: ${spring.application.name} # consumer group name, typically set to the application name. It helps manage message consumption in a distributed system.
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
    connection-timeout: 10s