server:
  port: 9080
spring:
  application:
    # same name as in config files
    name: "accounts"
  profiles:
    active: "prod"
#  profiles can be overridden by environment variable or JVM parameter or command line argument
#  e.g., -Dspring.profiles.active=qa
  datasource:
    url: jdbc:mysql://localhost:3306/accountsdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always
  jackson:
    mapper:
      sort-properties-alphabetically: false
  config:
    import: "optional:configserver:http://localhost:8071"
    # optional => avoid failure if config server is down
    # configserver => indicates that the source is a config server, not the actual name of config server
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "accounts"
    description: "Accounts Microservice for JK Bank"
    version: "1.0.0"

logging:
  level:
    com:
      jkbank:
        accounts: DEBUG

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10000
  retry:
    configs:
      default:
        max-attempts: 3
        waitDuration: 100
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2
        ignore-exceptions:
          - java.lang.NullPointerException
#       not retry for NullPointerException
        retry-exceptions:
          - java.util.concurrent.TimeoutException
#       retry only for TimeoutException