server:
  port: 8090
spring:
  application:
    # same name as in config files
    name: "loans"
  profiles:
    active: "prod"
  #  profiles can be overridden by environment variable or JVM parameter or command line argument
  #  e.g., -Dspring.profiles.active=qa
  datasource:
    url: jdbc:mysql://localhost:3307/loansdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always
  jackson:
    mapper:
      sort-properties-alphabetically: false
  config:
    import: "optional:configserver:http://localhost:8071"
    # optional => avoid failure if config server is down
    # configserver => indicates that the source is a config server, not the actual name of config server
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    function:
      definition: updateCommunication # function to process incoming messages from the queue/topic. Can be a single function or a chain of functions separated by semicolon (;)
    stream:
      default-binder: kafka
      bindings:
        updateCommunication-in-0: # input binding for receiving messages from the queue/topic
          destination: feedback-loan-communication-sent # queue/topic name to listen to for incoming messages
          group: ${spring.application.name} # consumer group name, typically set to the application name. It helps manage message consumption in a distributed system.
        sendCommunication-out-0: # output binding for sending messages to the queue/topic
          destination: send-loan-communication # queue/topic name to send messages to
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "loans"
    description: "Loans Microservice for JK Bank"
    version: "1.0.0"

logging:
  level:
    com:
      jkbank:
        loans: DEBUG
  pattern:
    level: "%5p[${spring.application.name:},%X{trace_id},%X{span_id}]"