server:
  port: 9000
spring:
  application:
    # same name as in config files
    name: "cards"
  profiles:
    active: "prod"
  #  profiles can be overridden by environment variable or JVM parameter or command line argument
  #  e.g., -Dspring.profiles.active=qa
  datasource:
    url: jdbc:mysql://localhost:3308/cardsdb
    username: root
    password: root
  jpa:
    show-sql: true
  sql:
    init:
      mode: always
  jackson:
    mapper:
      sort-properties-alphabetically: false
  config:
    import: "optional:configserver:http://localhost:8071"
    # optional => avoid failure if config server is down
    # configserver => indicates that the source is a config server, not the actual name of config server
  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
    health:
      probes:
        enabled: true
  info:
    env:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "cards"
    description: "Cards Microservice for JK Bank"
    version: "1.0.0"

logging:
  level:
    com:
      jkbank:
        cards: DEBUG
  pattern:
    level: "%5p[${spring.application.name:},%X{trace_id},%X{span_id}]"